element.style{
    background-color: black;
}


.custom-dropdown-toggle {
    position: relative;
    transition: all 0.15s;
  }
  
  .custom-dropdown-toggle:hover {
    transform: translateY(-6px);
    box-shadow: 0 0 50px rgba(113, 38, 38, 0.3);
    transition: scale(4.5);
    
  }
  